<!-- <div class="container">
  <h2>SVR Model Prediction</h2>
  <p>Enter a feature value below to get a prediction from our Support Vector Regression model. We aim to provide accurate and insightful predictions for your data analysis needs.</p> -->
  <!-- <form (ngSubmit)="onSubmit(featureForm)" #featureForm="ngForm">
    <div class="form-group">
      <label for="feature">Enter Feature Value:</label>
      <input type="number" class="form-control" id="feature" name="feature" ngModel required>
    </div>
    <button type="submit" class="btn btn-primary">Get Prediction</button>
  </form> -->

  <!-- <form (submit)="onSubmit($event)">
   <div class="form-group">
    <label for="feature">Enter Feature Value:</label>
    <input type="number" class="form-control" id="feature" ([(ngModel)]="feature")] name="feature" required>
  </div>
    <button type="submit" class="btn btn-primary">Get Prediction</button>

  </form>
  <div *ngIf="prediction">
    <h3>Prediction: {{ prediction }}</h3>
  </div>
</div> -->

<div class="container">
  <h2>SVR Model Prediction</h2>
  <form (submit)="onSubmit($event)">
    <div class="form-group">
      <label for="feature">Enter Feature Value:</label>
      <input type="number" class="form-control" id="feature" [(ngModel)]="feature" name="feature" required>
    </div>
    <button type="submit" class="btn btn-primary">Get Prediction</button>
  </form>
  <div *ngIf="prediction !== null">
    <h3>Prediction: {{ prediction }}</h3>
  </div>
</div>
